/* GLOBAL */
.flex-container {
  display: flex;
}

.flex-item {
  flex: 1 1;
}

/** HEADER  **/
header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

/*** NAV ***/
nav {
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

/**** logo  ****/
.logo {
  align-items: center;
}

.logo p {
  color: MediumAquamarine;
  margin-left: 10px;
}

/**** nav (right side of logo) ****/
.nav {
  justify-content: flex-end;
}

.nav ul {
  flex-shrink: 0;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  width: 337.5px;
}

.nav ul li {
  display: inline-block;
}


/** Main **/
main {
  margin-top: 35px;
  justify-content: space-around;
  border: 1px solid red
}

/*** column large ***/
.column-lg {
  width: 630px;
  border: 1px solid blue;
  flex-flow: column;
}

/**** articles ****/
.lg-article-one {
  border: 1px solid green;
}

.lg-article-two{
  border: 1px solid green;
}

.lg-article-three {
  border: 1px solid green;
}

/***** topic *****/
.topic {
  border: 1px solid black;
}


/*** column medium ***/
.column-md {
  width: 300px;
  border: 1px solid orange;
  flex-flow: column;
}

/**** articles ****/
.md-article-one {
  border: 1px solid green;
}

.md-article-two {
  border: 1px solid green;
}

/*** column small ***/
.column-sm {
  width: 240px;
  border: 1px solid yellow;
  flex-flow: column;
}

.sm-article-one {
  border: 1px solid green;
}

